.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container .brand {
  text-align: center;
}

.container .brand > span {
  color: #ffa52e;
}

.container .wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
          box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.container .wrapper > * {
  padding: 1em;
}

.container .wrapper .company-info {
  background: #ffd194;
}

.container .wrapper .company-info > h3,
.container .wrapper .company-info > ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.container .wrapper .contact {
  background: white;
}

.container .wrapper .contact > form {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.container .wrapper .contact > form > p {
  margin: 0;
}

.container .wrapper .contact > form > p > label {
  display: block;
}

.container .wrapper .contact > form > p > button,
.container .wrapper .contact > form > p > input,
.container .wrapper .contact > form > p > textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #333;
}

.container .wrapper .contact > form > p > button {
  background: #333;
  color: white;
  text-transform: uppercase;
  border: none;
}

.container .wrapper .contact > form > p > button:hover, .container .wrapper .contact > form > p > button:focus {
  background-color: #ffa52e;
  color: #333;
  outline: none;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

@media only screen and (min-width: 700px) {
  .container .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .container .wrapper > * {
    padding: 2em;
  }
  .container .wrapper .company-info > h3,
  .container .wrapper .company-info > ul {
    text-align: left;
  }
  .container .brand {
    text-align: left;
  }
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  form .full {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 699px) {
  form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  form .full {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #d9d9d9;
  height: 100%;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}

section#main {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr;
      grid-template-columns: auto 1fr 1fr;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "title title title" ". head head" "sidebar main main" "foot foot foot";
  grid-gap: 1em;
}

section#main > section#title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  text-align: center;
  font-size: 2.5rem;
}

section#main > section#title > h1 {
  margin: 20px auto;
}

section#main > header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: head;
}

section#main > header > h2 {
  margin: 0;
  padding-left: 10px;
}

section#main > main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin: 0px 20px;
  text-align: justify;
}

section#main > main > p {
  margin: 0;
  padding-bottom: 15px;
}

section#main > nav {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

section#main > nav > ul {
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}

section#main > nav > ul > li {
  padding: 10px;
  background-color: #333;
  margin-bottom: 5px;
}

section#main > nav > ul > li:hover {
  background-color: #ffa52e;
}

section#main > nav > ul > li:hover > a {
  color: #333;
}

section#main > nav > ul > li > a {
  text-decoration: none;
  color: white;
}

section#main > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: foot;
  text-align: center;
  background-color: #333;
  color: white;
}

@media only screen and (max-width: 500px) {
  section#main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title" "head head" "main main" "sidebar sidebar" "foot foot";
    -ms-grid-rows: auto auto 1fr auto auto;
        grid-template-rows: auto auto 1fr auto auto;
  }
}
/*# sourceMappingURL=main.css.map */